@mixin button($text-color: $white, $bg-color: $brown) {
  color: $text-color;
  padding: 15px 30px;
  font-size: 13px;
  background: $bg-color;
  font-weight: 700;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@mixin p($text-color: $black) {
  font-weight: 400;
  line-height: 25px;
  color: $text-color;
  font-size: 15px;
}
@mixin h1($text-color: #fff, $size: 40px) {
  color: $text-color;

  font-size: $size;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
}
@mixin flex($direction: row, $justify: start, $align: start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
